
    <!-- Main Js -->
    <!-- Bootstrap Js -->
    <script src="assets/js/bootstrap.min.js"></script>
	 
    <!-- Metis Menu Js -->
    <!-- <script src="assets/js/jquery.metisMenu.js"></script> -->

	
	<!-- <script src="assets/js/easypiechart.js"></script> -->
	<!-- <script src="assets/js/easypiechart-data.js"></script> -->
	
	 <!-- <script src="assets/js/Lightweight-Chart/jquery.chart.js"></script> -->
	
    <!-- Custom Js -->
    <script src="assets/js/main.js"></script>
 

</body>

</html>