<div id="page-inner">


    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Dashboard <small>Summary of your App</small>
            </h1>

        </div>
    </div>


    <!-- /. ROW  -->

    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-green green">
                <div class="panel-left pull-left green">
                    <i class="fa fa-eye fa-5x"></i>

                </div>
                <div class="panel-right">
                    <h3>15</h3>
                    <strong> Average Daily Deliveries</strong>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-blue">
                <div class="panel-left pull-left blue">
                    <i class="fa fa-shopping-cart fa-5x"></i>
                </div>

                <div class="panel-right">
                    <h3>500 </h3>
                    <strong>Average Monthly</strong>

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">

        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">

        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Area Chart
                </div>
                <div class="panel-body">
                    <div id="morris-area-chart" style="position: relative;"><svg height="352" version="1.1" width="371"
                            xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;">
                            <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0
                            </desc>
                            <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="50.5" y="317"
                                text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M63,317H346" stroke-width="0.5"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="50.5" y="244"
                                text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">7,500</tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M63,244H346" stroke-width="0.5"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="50.5" y="171"
                                text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000</tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M63,171H346" stroke-width="0.5"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="50.5" y="98"
                                text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">22,500</tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M63,98H346" stroke-width="0.5"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="50.5" y="25"
                                text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30,000</tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M63,25H346" stroke-width="0.5"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text
                                x="293.7326852976914" y="329.5" text-anchor="middle" font="10px &quot;Arial&quot;"
                                stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal"
                                transform="matrix(1,0,0,1,0,7.5)">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan>
                            </text><text x="168.22235722964763" y="329.5" text-anchor="middle"
                                font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal"
                                transform="matrix(1,0,0,1,0,7.5)">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011</tspan>
                            </text>
                            <path fill="#cfcfcf" stroke="none"
                                d="M63,265.28679999999997C70.90886998784933,259.9334666666666,86.726609963548,248.82408333333333,94.63547995139733,243.87346666666667C102.54434993924666,238.92285,118.36208991494533,232.45903242258652,126.27095990279466,225.68186666666668C134.0938639125152,218.97836575591987,149.73967193195628,191.95104033149173,157.5625759416768,189.95080000000002C165.29951397326855,187.97254033149173,180.773390036452,208.31308095238094,188.51032806804375,209.76786666666666C196.41919805589308,211.25498095238095,212.23693803159176,200.72803333333334,220.1458080194411,201.7184C228.05467800729042,202.70876666666666,243.87241798298908,235.27106156648452,251.7812879708384,217.6908C259.60419198055894,200.30162823315118,275.25,70.32326666666667,283.07290400972056,61.840666666666664C290.8958080194411,53.35806666666667,306.5416160388821,137.3922227686703,314.3645200486027,149.83C322.27339003645204,162.40445610200365,338.09113001215064,158.87470000000002,346,161.8896L346,317L63,317Z"
                                fill-opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path>
                            <path fill="none" stroke="#a6a6a6"
                                d="M63,265.28679999999997C70.90886998784933,259.9334666666666,86.726609963548,248.82408333333333,94.63547995139733,243.87346666666667C102.54434993924666,238.92285,118.36208991494533,232.45903242258652,126.27095990279466,225.68186666666668C134.0938639125152,218.97836575591987,149.73967193195628,191.95104033149173,157.5625759416768,189.95080000000002C165.29951397326855,187.97254033149173,180.773390036452,208.31308095238094,188.51032806804375,209.76786666666666C196.41919805589308,211.25498095238095,212.23693803159176,200.72803333333334,220.1458080194411,201.7184C228.05467800729042,202.70876666666666,243.87241798298908,235.27106156648452,251.7812879708384,217.6908C259.60419198055894,200.30162823315118,275.25,70.32326666666667,283.07290400972056,61.840666666666664C290.8958080194411,53.35806666666667,306.5416160388821,137.3922227686703,314.3645200486027,149.83C322.27339003645204,162.40445610200365,338.09113001215064,158.87470000000002,346,161.8896"
                                stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <circle cx="63" cy="265.28679999999997" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="94.63547995139733" cy="243.87346666666667" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="126.27095990279466" cy="225.68186666666668" r="2" fill="#ffffff"
                                stroke="#000000" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="157.5625759416768" cy="189.95080000000002" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="188.51032806804375" cy="209.76786666666666" r="2" fill="#ffffff"
                                stroke="#000000" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="220.1458080194411" cy="201.7184" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="251.7812879708384" cy="217.6908" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="283.07290400972056" cy="61.840666666666664" r="2" fill="#ffffff"
                                stroke="#000000" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="314.3645200486027" cy="149.83" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="346" cy="161.8896" r="2" fill="#ffffff" stroke="#000000" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <path fill="#60c6cd" stroke="none"
                                d="M63,291.0509333333333C70.90886998784933,285.1963333333333,86.726609963548,272.76078333333334,94.63547995139733,267.63253333333336C102.54434993924666,262.5042833333334,118.36208991494533,252.82877158469947,126.27095990279466,250.02493333333334C134.0938639125152,247.25157158469946,149.73967193195628,247.5784384898711,157.5625759416768,245.32373333333334C165.29951397326855,243.09380515653777,180.773390036452,235.21376813186814,188.51032806804375,232.0864C196.41919805589308,228.88953479853478,212.23693803159176,219.8941833333333,220.1458080194411,220.02679999999998C228.05467800729042,220.15941666666666,243.87241798298908,246.69799489981784,251.7812879708384,233.14733333333334C259.60419198055894,219.74396156648453,275.25,120.15793333333335,283.07290400972056,112.21066666666667C290.8958080194411,104.2634,306.5416160388821,161.22612440801456,314.3645200486027,169.5692C322.27339003645204,178.0039577413479,338.09113001215064,176.8838,346,179.322L346,317L63,317Z"
                                fill-opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path>
                            <path fill="none" stroke="#24c2ce"
                                d="M63,291.0509333333333C70.90886998784933,285.1963333333333,86.726609963548,272.76078333333334,94.63547995139733,267.63253333333336C102.54434993924666,262.5042833333334,118.36208991494533,252.82877158469947,126.27095990279466,250.02493333333334C134.0938639125152,247.25157158469946,149.73967193195628,247.5784384898711,157.5625759416768,245.32373333333334C165.29951397326855,243.09380515653777,180.773390036452,235.21376813186814,188.51032806804375,232.0864C196.41919805589308,228.88953479853478,212.23693803159176,219.8941833333333,220.1458080194411,220.02679999999998C228.05467800729042,220.15941666666666,243.87241798298908,246.69799489981784,251.7812879708384,233.14733333333334C259.60419198055894,219.74396156648453,275.25,120.15793333333335,283.07290400972056,112.21066666666667C290.8958080194411,104.2634,306.5416160388821,161.22612440801456,314.3645200486027,169.5692C322.27339003645204,178.0039577413479,338.09113001215064,176.8838,346,179.322"
                                stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <circle cx="63" cy="291.0509333333333" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="94.63547995139733" cy="267.63253333333336" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="126.27095990279466" cy="250.02493333333334" r="2" fill="#ffffff"
                                stroke="#000000" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="157.5625759416768" cy="245.32373333333334" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="188.51032806804375" cy="232.0864" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="220.1458080194411" cy="220.02679999999998" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="251.7812879708384" cy="233.14733333333334" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="283.07290400972056" cy="112.21066666666667" r="2" fill="#ffffff"
                                stroke="#000000" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="314.3645200486027" cy="169.5692" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="346" cy="179.322" r="2" fill="#ffffff" stroke="#000000" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <path fill="#cfcfcf" stroke="none"
                                d="M63,291.0509333333333C70.90886998784933,290.7784,86.726609963548,292.69343333333336,94.63547995139733,289.9608C102.54434993924666,287.22816666666665,118.36208991494533,270.3997253187614,126.27095990279466,269.18986666666666C134.0938639125152,267.99315865209473,149.73967193195628,282.6565248618785,157.5625759416768,280.33453333333335C165.29951397326855,278.0380581952118,180.773390036452,253.00587362637364,188.51032806804375,250.716C196.41919805589308,248.3752402930403,212.23693803159176,259.3908333333333,220.1458080194411,261.812C228.05467800729042,264.23316666666665,243.87241798298908,281.5881653916211,251.7812879708384,270.0853333333333C259.60419198055894,258.70753205828777,275.25,177.42765,283.07290400972056,170.28946666666667C290.8958080194411,163.15128333333334,306.5416160388821,204.94413570127506,314.3645200486027,212.97986666666668C322.27339003645204,221.1039023679417,338.09113001215064,229.44136666666668,346,234.92853333333335L346,317L63,317Z"
                                fill-opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></path>
                            <path fill="none" stroke="#a6a6a6"
                                d="M63,291.0509333333333C70.90886998784933,290.7784,86.726609963548,292.69343333333336,94.63547995139733,289.9608C102.54434993924666,287.22816666666665,118.36208991494533,270.3997253187614,126.27095990279466,269.18986666666666C134.0938639125152,267.99315865209473,149.73967193195628,282.6565248618785,157.5625759416768,280.33453333333335C165.29951397326855,278.0380581952118,180.773390036452,253.00587362637364,188.51032806804375,250.716C196.41919805589308,248.3752402930403,212.23693803159176,259.3908333333333,220.1458080194411,261.812C228.05467800729042,264.23316666666665,243.87241798298908,281.5881653916211,251.7812879708384,270.0853333333333C259.60419198055894,258.70753205828777,275.25,177.42765,283.07290400972056,170.28946666666667C290.8958080194411,163.15128333333334,306.5416160388821,204.94413570127506,314.3645200486027,212.97986666666668C322.27339003645204,221.1039023679417,338.09113001215064,229.44136666666668,346,234.92853333333335"
                                stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <circle cx="63" cy="291.0509333333333" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="94.63547995139733" cy="289.9608" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="126.27095990279466" cy="269.18986666666666" r="2" fill="#ffffff"
                                stroke="#000000" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="157.5625759416768" cy="280.33453333333335" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="188.51032806804375" cy="250.716" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="220.1458080194411" cy="261.812" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="251.7812879708384" cy="270.0853333333333" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="283.07290400972056" cy="170.28946666666667" r="2" fill="#ffffff"
                                stroke="#000000" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="314.3645200486027" cy="212.97986666666668" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="346" cy="234.92853333333335" r="2" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        </svg>
                        <div class="morris-hover morris-default-style" style="display: none; left: 257px; top: 130px;">
                            <div class="morris-hover-row-label">2012 Q2</div>
                            <div class="morris-hover-point" style="color: #A6A6A6">
                                iPhone:
                                8,432
                            </div>
                            <div class="morris-hover-point" style="color: #24C2CE">
                                iPad:
                                5,713
                            </div>
                            <div class="morris-hover-point" style="color: #A6A6A6">
                                iPod Touch:
                                1,791
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Line Chart
                </div>
                <div class="panel-body">
                    <div id="morris-line-chart" style="position: relative;"><svg height="352" version="1.1" width="544"
                            xmlns="http://www.w3.org/2000/svg"
                            style="overflow: hidden; position: relative; left: -0.90625px;">
                            <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0
                            </desc>
                            <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="33.5" y="317"
                                text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M46,317H519" stroke-width="0.5"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="33.5" y="244"
                                text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">50</tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M46,244H519" stroke-width="0.5"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="33.5" y="171"
                                text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">100</tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M46,171H519" stroke-width="0.5"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="33.5" y="98"
                                text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">150</tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M46,98H519" stroke-width="0.5"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="33.5" y="25"
                                text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">200</tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M46,25H519" stroke-width="0.5"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="519" y="329.5"
                                text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal"
                                transform="matrix(1,0,0,1,0,7.5)">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2024</tspan>
                            </text><text x="424.45180722891564" y="329.5" text-anchor="middle"
                                font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal"
                                transform="matrix(1,0,0,1,0,7.5)">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2022</tspan>
                            </text><text x="329.7740963855422" y="329.5" text-anchor="middle"
                                font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal"
                                transform="matrix(1,0,0,1,0,7.5)">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2020</tspan>
                            </text><text x="235.22590361445782" y="329.5" text-anchor="middle"
                                font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal"
                                transform="matrix(1,0,0,1,0,7.5)">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2018</tspan>
                            </text><text x="140.54819277108433" y="329.5" text-anchor="middle"
                                font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal"
                                transform="matrix(1,0,0,1,0,7.5)">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2016</tspan>
                            </text><text x="46" y="329.5" text-anchor="middle" font="10px &quot;Arial&quot;"
                                stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal"
                                transform="matrix(1,0,0,1,0,7.5)">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2014</tspan>
                            </text>
                            <path fill="none" stroke="#24c2ce"
                                d="M46,185.6C57.818524096385545,150.925,81.45557228915662,54.20000000000003,93.27409638554217,46.900000000000034C105.09262048192771,39.60000000000004,128.7296686746988,122.64374145006842,140.54819277108433,127.20000000000002C152.39909638554218,131.7687414500684,176.10090361445782,71.52127222982216,187.95180722891567,83.4C199.7703313253012,95.24627222982217,223.40737951807228,205.675,235.22590361445782,222.10000000000002C247.04442771084337,238.52500000000003,270.68147590361446,225.75,282.5,214.8C294.31852409638554,203.85000000000002,317.95557228915663,153.63628590971274,329.7740963855422,134.5C341.625,115.31128590971272,365.3268072289157,54.190013679890555,377.1777108433735,61.5C388.99623493975906,68.79001367989056,412.6332831325301,189.25,424.45180722891564,192.9C436.2703313253012,196.55,459.9073795180723,110.77500000000002,471.7259036144578,90.70000000000002C483.54442771084337,70.62500000000001,507.18147590361446,46.90000000000001,519,32.30000000000001"
                                stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <path fill="none" stroke="#808080"
                                d="M46,244C57.818524096385545,202.025,81.45557228915662,94.35,93.27409638554217,76.1C105.09262048192771,57.849999999999994,128.7296686746988,99.82250341997263,140.54819277108433,98C152.39909638554218,96.17250341997264,176.10090361445782,48.70752393980848,187.95180722891567,61.5C199.7703313253012,74.25752393980848,223.40737951807228,184.6875,235.22590361445782,200.2C247.04442771084337,215.7125,270.68147590361446,189.25,282.5,185.6C294.31852409638554,181.95,317.95557228915663,182.84627222982215,329.7740963855422,171C341.625,159.12127222982215,365.3268072289157,87.0450068399453,377.1777108433735,90.70000000000002C388.99623493975906,94.3450068399453,412.6332831325301,198.375,424.45180722891564,200.2C436.2703313253012,202.02499999999998,459.9073795180723,119.9,471.7259036144578,105.30000000000001C483.54442771084337,90.70000000000002,507.18147590361446,88.875,519,83.4"
                                stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <circle cx="46" cy="185.6" r="4" fill="#ffffff" stroke="#000000" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="93.27409638554217" cy="46.900000000000034" r="4" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="140.54819277108433" cy="127.20000000000002" r="4" fill="#ffffff"
                                stroke="#000000" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="187.95180722891567" cy="83.4" r="4" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="235.22590361445782" cy="222.10000000000002" r="4" fill="#ffffff"
                                stroke="#000000" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="282.5" cy="214.8" r="4" fill="#ffffff" stroke="#000000" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="329.7740963855422" cy="134.5" r="4" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="377.1777108433735" cy="61.5" r="4" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="424.45180722891564" cy="192.9" r="4" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="471.7259036144578" cy="90.70000000000002" r="4" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="519" cy="32.30000000000001" r="4" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="46" cy="244" r="4" fill="#ffffff" stroke="#000000" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="93.27409638554217" cy="76.1" r="4" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="140.54819277108433" cy="98" r="4" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="187.95180722891567" cy="61.5" r="4" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="235.22590361445782" cy="200.2" r="4" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="282.5" cy="185.6" r="4" fill="#ffffff" stroke="#000000" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="329.7740963855422" cy="171" r="4" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="377.1777108433735" cy="90.70000000000002" r="4" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="424.45180722891564" cy="200.2" r="4" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="471.7259036144578" cy="105.30000000000001" r="4" fill="#ffffff" stroke="#000000"
                                stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                            <circle cx="519" cy="83.4" r="4" fill="#ffffff" stroke="#000000" stroke-width="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
                        </svg>
                        <div class="morris-hover morris-default-style" style="display: none; left: 422px; top: 42px;">
                            <div class="morris-hover-row-label">2024</div>
                            <div class="morris-hover-point" style="color: gray">
                                Total Income:
                                160
                            </div>
                            <div class="morris-hover-point" style="color: #24C2CE">
                                Total Outcome:
                                195
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <!--/.row-->


    <div class="row">
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Bar Chart Example
                </div>
                <div class="panel-body">
                    <div id="morris-bar-chart" style="position: relative;"><svg height="352" version="1.1" width="717"
                            xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;">
                            <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0
                            </desc>
                            <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="33.5" y="317"
                                text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M46,317H692" stroke-width="0.5"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="33.5" y="244"
                                text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">25</tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M46,244H692" stroke-width="0.5"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="33.5" y="171"
                                text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">50</tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M46,171H692" stroke-width="0.5"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="33.5" y="98"
                                text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">75</tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M46,98H692" stroke-width="0.5"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="33.5" y="25"
                                text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">100</tspan>
                            </text>
                            <path fill="none" stroke="#aaaaaa" d="M46,25H692" stroke-width="0.5"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text
                                x="645.8571428571429" y="329.5" text-anchor="middle" font="10px &quot;Arial&quot;"
                                stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal"
                                transform="matrix(1,0,0,1,0,7.5)">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan>
                            </text><text x="553.5714285714286" y="329.5" text-anchor="middle"
                                font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal"
                                transform="matrix(1,0,0,1,0,7.5)">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011</tspan>
                            </text><text x="461.2857142857143" y="329.5" text-anchor="middle"
                                font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal"
                                transform="matrix(1,0,0,1,0,7.5)">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010</tspan>
                            </text><text x="369" y="329.5" text-anchor="middle" font="10px &quot;Arial&quot;"
                                stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal"
                                transform="matrix(1,0,0,1,0,7.5)">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2009</tspan>
                            </text><text x="276.7142857142857" y="329.5" text-anchor="middle"
                                font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal"
                                transform="matrix(1,0,0,1,0,7.5)">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2008</tspan>
                            </text><text x="184.42857142857142" y="329.5" text-anchor="middle"
                                font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal"
                                transform="matrix(1,0,0,1,0,7.5)">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2007</tspan>
                            </text><text x="92.14285714285714" y="329.5" text-anchor="middle"
                                font="10px &quot;Arial&quot;" stroke="none" fill="#888888"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 12px sans-serif;"
                                font-size="12px" font-family="sans-serif" font-weight="normal"
                                transform="matrix(1,0,0,1,0,7.5)">
                                <tspan dy="4.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2006</tspan>
                            </text>
                            <rect x="57.535714285714285" y="25" width="33.10714285714286" height="292" r="0" rx="0"
                                ry="0" fill="#a6a6a6" stroke="none" fill-opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                            <rect x="93.64285714285714" y="54.19999999999999" width="33.10714285714286" height="262.8"
                                r="0" rx="0" ry="0" fill="#24c2ce" stroke="none" fill-opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                            <rect x="149.82142857142856" y="98" width="33.10714285714286" height="219" r="0" rx="0"
                                ry="0" fill="#a6a6a6" stroke="none" fill-opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                            <rect x="185.92857142857142" y="127.20000000000002" width="33.10714285714286"
                                height="189.79999999999998" r="0" rx="0" ry="0" fill="#24c2ce" stroke="none"
                                fill-opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                            <rect x="242.10714285714286" y="171" width="33.10714285714286" height="146" r="0" rx="0"
                                ry="0" fill="#a6a6a6" stroke="none" fill-opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                            <rect x="278.2142857142857" y="200.2" width="33.10714285714286" height="116.80000000000001"
                                r="0" rx="0" ry="0" fill="#24c2ce" stroke="none" fill-opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                            <rect x="334.39285714285717" y="98" width="33.10714285714286" height="219" r="0" rx="0"
                                ry="0" fill="#a6a6a6" stroke="none" fill-opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                            <rect x="370.5" y="127.20000000000002" width="33.10714285714286" height="189.79999999999998"
                                r="0" rx="0" ry="0" fill="#24c2ce" stroke="none" fill-opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                            <rect x="426.67857142857144" y="171" width="33.10714285714286" height="146" r="0" rx="0"
                                ry="0" fill="#a6a6a6" stroke="none" fill-opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                            <rect x="462.78571428571433" y="200.2" width="33.10714285714286" height="116.80000000000001"
                                r="0" rx="0" ry="0" fill="#24c2ce" stroke="none" fill-opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                            <rect x="518.9642857142858" y="98" width="33.10714285714286" height="219" r="0" rx="0"
                                ry="0" fill="#a6a6a6" stroke="none" fill-opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                            <rect x="555.0714285714287" y="127.20000000000002" width="33.10714285714286"
                                height="189.79999999999998" r="0" rx="0" ry="0" fill="#24c2ce" stroke="none"
                                fill-opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                            <rect x="611.2500000000001" y="25" width="33.10714285714286" height="292" r="0" rx="0"
                                ry="0" fill="#a6a6a6" stroke="none" fill-opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                            <rect x="647.357142857143" y="54.19999999999999" width="33.10714285714286" height="262.8"
                                r="0" rx="0" ry="0" fill="#24c2ce" stroke="none" fill-opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect>
                        </svg>
                        <div class="morris-hover morris-default-style"
                            style="left: 601.857px; top: 136px; display: none;">
                            <div class="morris-hover-row-label">2012</div>
                            <div class="morris-hover-point" style="color: #A6A6A6">
                                Series A:
                                100
                            </div>
                            <div class="morris-hover-point" style="color: #24C2CE">
                                Series B:
                                90
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Donut Chart Example
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart"><svg height="352" version="1.1" width="198"
                            xmlns="http://www.w3.org/2000/svg"
                            style="overflow: hidden; position: relative; left: -0.25px;">
                            <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.0
                            </desc>
                            <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                            <path fill="none" stroke="#a6a6a6"
                                d="M99,237.83333333333334A59.333333333333336,59.333333333333336,0,0,0,155.332157175399,197.1314924901519"
                                stroke-width="2" opacity="0"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                            <path fill="#a6a6a6" stroke="#ffffff"
                                d="M99,240.83333333333334A62.333333333333336,62.333333333333336,0,0,0,158.18041231348099,198.07353424527196L178.7511438662952,204.87716914336113A84,84,0,0,1,99,262.5Z"
                                stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <path fill="none" stroke="#24c2ce"
                                d="M155.332157175399,197.1314924901519A59.333333333333336,59.333333333333336,0,0,0,45.80708496873723,152.2139155650503"
                                stroke-width="2" opacity="1"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path>
                            <path fill="#24c2ce" stroke="#ffffff"
                                d="M158.18041231348099,198.07353424527196A62.333333333333336,62.333333333333336,0,0,0,43.11755555704417,150.88484388013714L19.210627453105843,139.07087334757546A89,89,0,0,1,183.4982357630985,206.44723873522787Z"
                                stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                            <path fill="none" stroke="#a8e9dc"
                                d="M45.80708496873723,152.2139155650503A59.333333333333336,59.333333333333336,0,0,0,98.98135988389528,237.83333040535072"
                                stroke-width="2" opacity="0"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                            <path fill="#a8e9dc" stroke="#ffffff"
                                d="M43.11755555704417,150.88484388013714A62.333333333333336,62.333333333333336,0,0,0,98.9804174061147,240.83333025730667L98.97361062214387,262.4999958547662A84,84,0,0,1,23.69317647259429,141.28599282243079Z"
                                stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text
                                x="99" y="168.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none"
                                fill="#000000"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 800 15px Arial;"
                                font-size="15px" font-weight="800" transform="matrix(0.9207,0,0,0.9207,7.8517,14.2362)"
                                stroke-width="1.0861423220973783">
                                <tspan dy="6" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">In-Store Sales
                                </tspan>
                            </text><text x="99" y="188.5" text-anchor="middle" font="10px &quot;Arial&quot;"
                                stroke="none" fill="#000000"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 14px Arial;"
                                font-size="14px" transform="matrix(1.2361,0,0,1.2361,-23.375,-42.6181)"
                                stroke-width="0.8089887640449438">
                                <tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30</tspan>
                            </text>
                        </svg></div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <!-- /. ROW  -->






    <!-- /. ROW  -->



    </footer>
</div>