<div class="col-md-12">
    <!-- Advanced Tables -->
    <div class="panel panel-default">
        <div class="panel-heading">
            {{table_name}}
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                    <div class="row"></div>
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div class="row"></div>
                        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_length" id="dataTables-example_length">
                                        <!-- <label>
                                                          <select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
                                                              records per page
                                                          </select>
                                                      </label> -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- <div id="dataTables-example_filter" class="dataTables_filter">
                                                            <label> Search:
                                                                <input type="search" class="form-control input-sm" aria-controls="dataTables-example">
                                                            </label>
                                                        </div> -->
                                </div>
                            </div>
                            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                <div class="row">
                                    <div class="col-sm-6"></div>
                                    <div class="col-sm-6">
                                        <div id="dataTables-example_filter" class="dataTables_filter">
                                            <label>Search:<input type="search" class="form-control input-sm"
                                                    aria-controls="dataTables-example"></label></div>
                                    </div>
                                </div>
                                <table class="table table-striped table-bordered table-hover dataTable no-footer"
                                    id="dataTables-example" aria-describedby="dataTables-example_info">

                             {{> tableheads}}
                                    <tbody id="theTableBody" class="theTableBody">
                                        <!-- Code -->
                                        {{> tablebody}}
                                        <tr class="odd">
                                            <td valign="top" colspan="8" class="dataTables_empty">No data available in
                                                table</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
    <!-- /. ROW  -->

    <!-- /. ROW  -->

    <!-- /. ROW  -->

    <!-- /. ROW  -->
</div>

{{!-- table rows --}}
                                {{!-- <tr class="gradeA odd"> 
                                    <td id="nn" class="sorting_1"> </td>
                                    <td class="center"> </td> 
                                    <td class="center"></td> 
                                    <td class="center"></td>
                                    <td class="center"></td>
                                    <td class="center"></td>
                                    <td class="center"><button id="" class="view_btn">View</button></td>
                                </tr> --}}